@import 'mixins.scss';
// Colors
.text-primary {color: $primary;}
.text-white { color: $white; }

// Alignment
.text-center {text-align: center;}
.flex-center-md-down {
  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba($black, 0.15);
}

.text-center {
  text-align: center;
}