$primary: hsl(210, 25%, 25%);
$secondary: hsl(210, 85%, 60%);
$success: hsl(167, 90%, 44%);
$warning: hsl(48, 100%, 55%);
$danger: hsl(355, 92%, 30%);
$info: hsl(253, 98%, 62%);
$light: hsl(200, 14%, 92%);
$lightest: hsl(200, 16%, 96%);
$dark: hsl(210, 30%, 17%);

$breakpoint-sm: 35.9375rem; // 575px
$breakpoint-sm-min: 36rem; // 576px
$breakpoint-md: 47.9375rem; // 767px
$breakpoint-md-min: 48rem; // 768px
$breakpoint-lg: 61.9375rem; // 991px
$breakpoint-lg-min: 62rem; // 992px

$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-base: $font-family-sans-serif;
$font-family-heading: Lato, Verdana, sans-serif;
$font-family-display: Oswald, Impact, sans-serif;

$white: #fff;
$black: hsl(210, 40%, 15%);

$box-shadow-sm: 0 1px 2px 0 hsla(0, 0%, 0%, 0.17), 0 1px 5px 0 hsla(0, 0%, 0%, 0.11);
$box-shadow-md: 0 3px 7px 0 hsla(0, 0%, 0%, 0.15), 0 1px 9px 0 hsla(0, 0%, 0%, 0.15);

$border-red: hsla(355, 80%, 80%, 1.0);
$border-red-vivid: hsla(355, 100%, 75%, 1.0);

$border-yellow: hsla(55, 85%, 70%, 1.0);
$border-yellow-vivid: hsla(55, 100%, 55%, 1.0);

$border-green: hsla(167, 95%, 80%, 1.0);
$border-green-vivid: hsl(167, 100%, 65%);

$border-blue: hsl(216, 92.5%, 80%);
$border-blue-vivid: hsl(216, 100%, 75%);

$border-purple: hsl(253, 87.5%, 82.5%);
$border-purple-vivid: hsla(253, 95%, 75%, 1.0);

$link-underline-gray: hsl(210, 10%, 48%);
$lightest-gray: hsl(200, 16%, 96%);
$light-gray: hsl(200, 14%, 92%);
$bg-gray: hsl(220, 8%, 92%); //#eaebed;

$border-lightest-gray: hsl(200,16%,96%);
$border-light-gray: hsl(200, 14%, 92%);
$border-med-gray: hsl(200, 14%, 76%);
$border-dark-gray: hsl(200, 14%, 56%);
$link-red: hsl(355, 80%, 75%);
$link-red-vivid: hsla(355, 92.5%, 67.5%, 100%);
$link-yellow: hsl(58, 100%, 65%);
$link-yellow-vivid: hsla(58, 95%, 62.5%, 100%);
$link-green: hsl(175, 80%, 65%);
$link-blue: hsl(197, 80%, 65%);
$link-purple: hsl(240, 80%, 75%);
$highlight-yellow: hsla(58, 100%, 65%, 0.8);

$rainbow-text-angled: linear-gradient(
  130deg,
  #bca2f6,
  #cdb9f8 5%,
  #66d4ff 17%,
  #66d4ff 25%,
  #76f9ee 35%,
  #ffe366 55%,
  #ffe366 60%,
  #f7baba 80%
);
$rainbow-text-angled-dark: linear-gradient(
  130deg,
  #9c86cd,
  #a897ce 5%,
  #66d4ff 17%,
  #66d4ff 25%,
  #76f9ee 35%,
  #ffe366 55%,
  #ffe366 60%,
  #e38a8a 80%
);
$pastel-rainbow-bar: linear-gradient(-90deg,
  hsl(240, 100%, 85%) 7.5%,
  hsl(355, 100%, 90%) 22.5%,
  hsl(58, 100%, 75%) 25%,
  hsl(58, 100%, 80%) 37.5%,
  hsl(175, 100%, 85%) 85%,
  hsl(197, 100%, 85%) 92.5%);
$rainbow-box-shadow-dark: hsl(175, 80%, 60%) 0 2px,
  hsl(58, 100%, 60%) -2px 0,
  hsl(240, 80%, 69%) 2px 0,
  hsl(355, 80%, 72.5%) 0 -2px 0;
$rainbow-gradient-light: linear-gradient(
    -240deg,
    hsl(259, 83%, 80%) 0%,
    hsl(259, 83%, 85%) 5%,
    hsl(197, 100%, 85%) 17%,
    hsl(197, 100%, 85%) 25%,
    hsl(175, 92%, 87%) 35%,
    hsl(49, 100%, 70%) 60%,
    hsl(0, 80%, 90%) 85%
);
$rainbow-gradient-med: linear-gradient(
    130deg,
    hsl(259, 83%, 80%) 0%,
    hsl(259, 83%, 85%) 5%,
    hsl(197, 100%, 70%) 17%,
    hsl(197, 100%, 70%) 25%,
    hsl(175, 92%, 72%) 35%,
    hsl(49, 100%, 70%) 55%,
    hsl(49, 100%, 70%) 60%,
    hsl(0, 80%, 85%) 80%
);
$rainbow-gradient-dark: linear-gradient(
  75deg,
  $link-red 10.5%,
  $link-yellow 39.5%,
  $link-green 50%,
  $link-blue 67.5%,
  $link-purple 82.5%
);
$rainbow-ellipse-bottom-left: radial-gradient(
  ellipse at bottom left,
  hsl(355, 100%, 85%) 0%,
  hsl(58, 100%, 80%) 30%,
  hsl(175, 100%, 80%) 45%,
  hsl(175, 100%, 85%) 55%,
  hsl(197, 100%, 85%) 65%,
  hsl(240, 100%, 90%) 75%
);