$primary: hsl(210, 25%, 25%);
$secondary: hsl(210, 85%, 60%);
$success: hsl(167, 90%, 44%);
$warning: hsl(48, 100%, 55%);
$danger: hsl(355, 92%, 30%);
$info: hsl(253, 98%, 62%);
$light: hsl(200, 14%, 92%);
$lightest: hsl(200, 16%, 96%);
$dark: hsl(210, 30%, 17%);
.bg-lightest {background-color: $lightest;}
.bg-dark {background-color: $dark;}


// hsla(253, 95%, 75%, 1.0)

// $font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-sans-serif: 'Open Sans', sans-serif;

// $font-family-monospace:SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$font-family-base: $font-family-sans-serif;
$font-family-heading: Lato, Verdana, sans-serif;
$font-family-display: Oswald, Impact, sans-serif;


$white: #fff;
$black: hsl(210, 40%, 15%);
// $bg-light-gray: hsl(200, 20%, 97%);
// $bg-med-gray: hsl(200, 20%, 94%);

// $box-shadow-md-transparent: 0 3px 7px 0 hsla(0, 0%, 0%, 0), 0 1px 9px 0 hsla(0, 0, 0, 0);
$box-shadow-sm: 0 1px 2px 0 hsla(0, 0%, 0%, 0.17), 0 1px 5px 0 hsla(0, 0%, 0%, 0.11);
$box-shadow-md: 0 3px 7px 0 hsla(0, 0%, 0%, 0.15), 0 1px 9px 0 hsla(0, 0, 0, 0.15);
// $box-shadow-lg: 0 2px 10px 0 hsla(0, 0%, 0%, 0.17), 0 1px 13px 0 hsla(0, 0, 0, 0.11);

// $line-height-gr: 1.618;

$border-red: hsla(355, 80%, 80%, 1.0);
$border-red-vivid: hsla(355, 100%, 75%, 1.0);

$border-yellow: hsla(55, 85%, 70%, 1.0);
$border-yellow-vivid: hsla(55, 100%, 55%, 1.0);

$border-green: hsla(167, 95%, 80%, 1.0);
$border-green-vivid: hsl(167, 100%, 65%);

$border-blue: hsl(216, 92.5%, 80%);
$border-blue-vivid: hsl(216, 100%, 75%);

$border-purple: hsl(253, 87.5%, 82.5%);
$border-purple-vivid: hsla(253, 95%, 75%, 1.0);

$link-underline-gray: hsl(210, 10%, 48%);
$lightest-gray: hsl(200, 16%, 96%);
$light-gray: hsl(200, 14%, 92%);

$border-lightest-gray: hsl(200,16%,96%);
$border-light-gray: hsl(200, 14%, 92%);
$border-med-gray: hsl(200, 14%, 76%);
// $border-dark-gray: hsl(200, 14%, 56%);
$link-red: hsl(355, 80%, 75%);
// $link-red-darker: hsl(355, 80%, 65%);
$link-red-vivid: hsla(355, 92.5%, 67.5%, 100%);
$link-yellow: hsl(58, 100%, 65%);
// $link-yellow-darker: hsl(58, 65%, 50%);
$link-yellow-vivid: hsla(58, 95%, 62.5%, 100%);
$link-green: hsl(175, 80%, 65%);
// $link-green-darker: hsl(175, 50%, 45%);
$link-blue: hsl(197, 80%, 65%);
// $link-blue-darker: hsl(197, 90%, 45%);
$link-purple: hsl(240, 80%, 75%);
// $link-purple-darker: hsl(240, 90%, 65%);
$highlight-yellow: hsla(58, 100%, 65%, 0.8);
// $color-primary-lighter: hsl(210, 10%, 94%);
// $color-primary-light: hsl(210, 10%, 87.5%);
// $color-primary: hsl(210, 25%, 27%);
$color-primary-med: hsl(210, 25, 36%);

// $yellow-accent-bar: linear-gradient(90deg,
// gold 0%,
// hsla(58, 100%, 85%, 0.5) 30%,
// hsl(58, 100%, 55%) 65%,
// hsl(58, 100%, 75%) 90%);

$pastel-rainbow-bar: linear-gradient(-90deg,
  hsl(240, 100%, 85%) 7.5%,
  hsl(355, 100%, 90%) 22.5%,
  hsl(58, 100%, 75%) 25%,
  hsl(58, 100%, 80%) 37.5%,
  hsl(175, 100%, 85%) 85%,
  hsl(197, 100%, 85%) 92.5%);
$rainbow-box-shadow: hsl(175, 100%, 65%) 0 2px 0,
  hsla(58, 100%, 65%, 0.096) -2px 0 0,
  hsl(240, 80%, 75%) 2px 0 0,
  hsl(355, 80%, 80%) 0 -2px 0;
$rainbow-box-shadow-dark: hsl(175, 80%, 60%) 0 2px,
  hsl(58, 100%, 60%) -2px 0,
  hsl(240, 80%, 69%) 2px 0,
  hsl(355, 80%, 72.5%) 0 -2px 0;
.rainbow-border {box-shadow: $rainbow-box-shadow-dark;}
// $rainbow-box-shadow-dark-lg: hsl(175, 80%, 60%) 0 3px,
//   hsl(58, 100%, 60%) -3px 0,
//   hsl(240, 80%, 69%) 3px 0,
//   hsl(355, 80%, 72.5%) 0 -3px 0;
$rainbow-gradient-light: linear-gradient(
    -240deg,
    hsl(259, 83%, 80%) 0%,
    hsl(259, 83%, 85%) 5%,
    hsl(197, 100%, 85%) 17%,
    hsl(197, 100%, 85%) 25%,
    hsl(175, 92%, 87%) 35%,
    hsl(49, 100%, 70%) 60%,
    hsl(0, 80%, 90%) 85%
);

$rainbow-gradient-med: linear-gradient(
    130deg,
    hsl(259, 83%, 80%) 0%,
    hsl(259, 83%, 85%) 5%,
    hsl(197, 100%, 70%) 17%,
    hsl(197, 100%, 70%) 25%,
    hsl(175, 92%, 72%) 35%,
    hsl(49, 100%, 70%) 55%,
    hsl(49, 100%, 70%) 60%,
    hsl(0, 80%, 85%) 80%
);
// $rainbow-gradient-med: linear-gradient(
//   90deg,
//   $border-purple 0%,
//   $border-blue 20%,
//   $border-green 40%,
//   $border-yellow 55%,
//   $border-red 95%
// );
$rainbow-gradient-dark: linear-gradient(
  90deg,
  $link-red 10.5%,
  $link-yellow 39.5%,
  $link-green 50%,
  $link-blue 67.5%,
  $link-purple 82.5%
);
// $rainbow-gradient-darker: linear-gradient(
//   90deg,
  // $link-red-darker 10.5%,
//   $link-yellow-darker 39.5%,
  // $link-green-darker 50%,
//   $link-blue-darker 67.5%,
//   $link-purple-darker 82.5%
// );
// $rainbow-gradient-radial: radial-gradient(
//   205deg,
//   rgb(255, 249, 77) 15%,
//   rgb(77, 255, 240) 26%,
//   rgb(77, 255, 240) 40%,
//   rgb(184, 235, 255) 52%,
//   rgb(184, 235, 255) 62%,
//   rgb(189, 189, 255) 70%,
//   rgb(255, 214, 218) 90%
// );
$rainbow-text: linear-gradient(
  1205deg,
  hsl(60, 100%, 68%) 15%,
  hsl(175, 100%, 72%) 27.5%,
  hsl(197, 100%, 78%) 50%,
  hsl(240, 100%, 88%) 75%,
  hsl(354, 100%, 85%) 90%,
);
$rainbow-ellipse-top-right: radial-gradient(
  ellipse at top right,
  hsl(355, 100%, 85%) 0%,
  hsl(58, 100%, 80%) 30%,
  hsl(175, 100%, 80%) 45%,
  hsl(175, 100%, 85%) 55%,
  hsl(197, 100%, 85%) 65%,
  hsl(240, 100%, 90%) 75%
);
$rainbow-ellipse-top-right-dark: radial-gradient(
  ellipse at top right,
  hsl(355, 100%, 75%) 0%,
  hsl(58, 100%, 70%) 30%,
  hsl(175, 100%, 65%) 45%,
  hsl(175, 100%, 55%) 55%,
  hsl(197, 100%, 65%) 65%,
  hsl(240, 100%, 87.5%) 75%
);
$rainbow-ellipse-top-left: radial-gradient(
  ellipse at top left,
  hsl(355, 100%, 85%) 0%,
  hsl(58, 100%, 80%) 30%,
  hsl(175, 100%, 80%) 45%,
  hsl(175, 100%, 85%) 55%,
  hsl(197, 100%, 85%) 65%,
  hsl(240, 100%, 90%) 75%
);
$rainbow-ellipse-bottom-right: radial-gradient(
  ellipse at bottom right,
  hsl(355, 100%, 85%) 0%,
  hsl(58, 100%, 80%) 30%,
  hsl(175, 100%, 80%) 45%,
  hsl(175, 100%, 85%) 55%,
  hsl(197, 100%, 85%) 65%,
  hsl(240, 100%, 90%) 75%
);
$rainbow-ellipse-bottom-left: radial-gradient(
  ellipse at bottom left,
  hsl(355, 100%, 85%) 0%,
  hsl(58, 100%, 80%) 30%,
  hsl(175, 100%, 80%) 45%,
  hsl(175, 100%, 85%) 55%,
  hsl(197, 100%, 85%) 65%,
  hsl(240, 100%, 90%) 75%
);
// $rainbow-gradient-radial-light: linear-gradient(
//   90deg,
//   hsl(240, 100%, 70%),
//   $border-blue,
//   hsl(175, 100%, 82%),
//   hsl(58, 100%, 78%),
//   hsl(354, 100%, 73%),
// );