html {
  font-family: $font-family-base;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;

  @include media-breakpoint-xxs-down {
    font-size: 13px;
  }
}

#__layout {
  max-width: 100%;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: $dark;
  font-size: 1rem;
  line-height: 1.618em;
  font-family: $font-family-base;
}

h1 {
  font-family: $font-family-heading;
  font-weight: 900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  margin-bottom: 1.25rem;
}

h2,
h3 {
  font-family: $font-family-heading;
  font-weight: 800;
}

h4 {
  font-family: $font-family-display;
  font-weight: 500;
  font-size: 1.3125rem;
  letter-spacing: 1px;

  @include media-breakpoint-down(md) {
    font-size: 1.25rem;
  }
}

h5,
h6 {
  font-family: $font-family-heading;
  text-transform: uppercase;
}

ol,
ul {
  display: block;
  padding-left: 0.25rem;
  margin-left: 1.5rem;

  &.list-style-none {
    list-style: none;
  }

  &.list-inline {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &.list-inline-centered {
      justify-content: center;
    }

    li {
      flex-grow: 0;
      flex-basis: auto;
      display: inline-block;
      margin-right: 0.875rem;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  ol,
  ul {
    margin-top: 1rem;
    margin-bottom: 1.25rem;
  }

  &.list-style-none {
    list-style: none;
  }

  &.list-inline {
    padding-left: 0;
    margin-left: 0;

    li {
      display: inline-block;
    }
  }
}

li {
  margin-bottom: 0.875rem;
}

img {
  display: block;
  max-width: 100%;
}

p {
  margin-bottom: 1.25rem;
  line-height: 1.618em;
}

a {
  line-height: 1.618em;

  &:hover {
    text-decoration: none;
  }

  &.badge {
    border-bottom: 0;
  }

  &.btn-outline-primary {
    &:hover {
      border-bottom: 1px solid $primary;
    }
  }

  &[target='_blank']::after {
    content: '';
    display: block;
    margin-left: 0.5rem;
    background-image: url('~assets/images/box-arrow-up-right.svg');
    display: inline-block;
    width: 0.8125rem;
    height: 0.8125rem;
    background-size: 0.8125rem 0.8125rem;
  }
}

.badge {
  text-transform: uppercase;
  font-weight: 800;
  font-family: $font-family-display;
  letter-spacing: 1px;
  background-color: $dark;
}

pre,
pre code {
  color: #ffffff;
}

.summary-img {
  max-width: 380px;
  margin-left: 30px;
  float: right;

  &.summary-img-left {
    float: left;
  }

  &.summary-img-tall {
    max-height: 100%;
  }

  @include media-breakpoint-down(sm) {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.nuxt-content-highlight {
  margin: 1.25rem 0;
  border-radius: 0.25rem !important;

  @include media-breakpoint-down(sm) {
    max-width: 100%;
    overflow-x: scroll;
  }

  code {
    @include media-breakpoint-down(sm) {
      min-width: 450px !important;
    }
  }
}