@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
}

@mixin media-breakpoint-xxs-up {
  @media all and (min-width: 320px) {
    @content;
  }
}

@mixin media-breakpoint-xxs-down {
  @media all and (max-width: 319px) {
    @content;
  }
}

@mixin rainbow-link-decoration {
  text-decoration: none;
  border-bottom: 0;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 100% 2px;
  background-image: $pastel-rainbow-bar-dark;
  transition: background-size 0.75s ease-in-out;

  &:hover,
  &:focus {
    text-decoration: none;
    border-bottom: 0;
    background-size: 5px 4px;
    background-image: $pastel-rainbow-bar;
  }
}