// Colors
.text-primary {color: $primary;}
.text-white { color: $white; }

// Alignment
.text-center {text-align: center;}
.flex-center-md-down {
  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
}
