

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease-in;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
  position: relative;
}
body {
  font-family: $font-primary;
  font-weight: 300;
  line-height: $line-height-gr;
  flex-direction: column;
  margin: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-primary;
  line-height: $line-height-gr;
  word-break: break-word;
}
#app > div:first-of-type {
  min-height: 100vh;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}
main {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;

  &.resume-page {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
}

.app-container {
  padding: 0 0.9375rem;
  margin: 0;
  width: 100%;
}
.app-container-inner {
  max-width: 62.5rem;
  margin: 0 auto;
}
// header.app-container {
//   height: 21.125rem;
// }
footer.app-container {
  height: 7.875rem;
}
.site-content {
  min-height: calc(100vh - (19.25rem + 7.875rem + 30px));
  display: flex;
  flex-direction: column;
  padding-bottom: 3.75rem;
}

p,
li,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
a,
nav,
i,
b {
  line-height: $line-height-gr;
}


p,
li {
  font-size: 1rem;
  font-weight: 300;
}
p,
ul,
ol {
  margin-top: 0.9375rem;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.875rem;
  margin-bottom: 10px;
  color: $color-primary;
}
h2 {
  font-family: $font-secondary;
  font-weight: 900;
  font-size: 2.375rem;
}
h3 {
  font-family: $font-secondary;
  font-weight: 900;
  font-size: 1.875rem;
}
h4 {
  font-family: $font-secondary;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0;
}
h5,
h6 {
  font-family: $font-tertiary;
  margin-top: 1.25rem;
  margin-bottom: 5px;
}
h5 {
  font-size: 1.25rem;
  font-weight: 500;
}
h6 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}
a,
a:link,
a:visited {
  color: $color-primary;
  font-weight: 500;
  text-decoration: none;
  background-image: $rainbow-gradient-light;
  background-size: 100% 1px;
  background-position: center bottom;
  background-repeat: no-repeat;

  &:hover {
    background-size: 0;
  }

  // Buttons
  &.button {
    &.button-primary {
      display: inline-block;
      font-weight: 900;
      font-family: $font-secondary;
      text-transform: uppercase;
      background-color: $color-primary;
      color: $white;
      background-image: none;
      font-size: 1rem;
      letter-spacing: 2px;
      box-shadow: $box-shadow-md;
      border: 1px solid lighten($color-primary, 5%);
      padding: 4px 14px;
      border-radius: 4px;
      box-sizing: border-box;
      transition: all 0.3s ease, background-color 0.3s ease;

      &:hover {
        transform: scale(1.1);
        background-color: $white;
        color: $black;
      }
    }

    span {
      display: block;
    }
  }
}
img {
  display: block;
  max-width: 100%;
}
ol,
ul {
  margin: 0.9375rem 0 0.3125rem;
  padding: 0 0 0 2.8125rem;

  @media all and (max-width: $breakpoint-sm) {
    padding-left: 1.25rem;
  }

  li {
    margin-bottom: 0.625rem;

    @media all and (max-width: $breakpoint-sm) {
      padding-left: 0.25rem;
    }
  }

  &.circle {
    list-style: circle;
  }

  &.inline {
    display: flex;
    padding-left: 0;

    li {
      flex-direction: column;
      margin: 0 15px 10px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &.text-center {
      justify-content: center;
    }
  }
}
ul {
  list-style: disc;
}
.post-image {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
  overflow-x: scroll;
  max-width: 100%;

  @media all and (max-width: $breakpoint-sm) {
    justify-content: flex-start;
  }

  // If you don't want the image to scroll on mobile
  &.constrain {
    overflow-x: hidden;

    @media all and (max-width: $breakpoint-sm) {
      display: block;
      text-align: center;

      figcaption {
        font-family: $font-secondary;
        padding-top: 0.5rem;
        font-size: 0.875rem;
        font-weight: 400;
        color: lighten($color-primary, 20%);

        a {
          color: inherit;
          background-image: none;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    img {
      @media all and (max-width: $breakpoint-sm) {
        min-width: 0;
        max-width: 100%;
      }
    }
  }

  img {
    display: block;
    border-radius: 3px;

    @media all and (max-width: $breakpoint-sm) {
      min-width: 500px;
    }
  }
}

.post-body {
  max-width: 900px;
  margin: 0 auto;

  h2 {
    line-height: 1.25em;
    font-size: 30px;
    font-weight: 400;
  }

  h3 {
    font-weight: 600;
    font-size: 22px;
  }

  .tagline,
  .pullquote,
  .pull-quote {
    margin: 1rem auto 0.75rem;
    padding: 0 0.5rem;
    max-width: 50%;
    float: right;

    @media all and (max-width: $breakpoint-sm) {
      padding: 0;
      max-width: 90%;
      float: none;
    }

    &.float-left,
    &.pull-left,
    &.align-left {
      float: left;

      @media all and (max-width: $breakpoint-sm) {
        float: none;
      }
    }

    h3 {
      display: inline-block;
      font-family: $font-primary;
      margin-top: 0;
      padding: 0 0.625rem 0 0.9375rem;
      margin-bottom: 0;
      font-weight: 600;
      line-height: 1.25em;
      border-left: 7.5px solid lighten($color-primary-med, 12%);

      em {
        font-style: normal;
      }
    }
  }

  p,
  li {
    font-weight: 400;
  }

  blockquote {
    max-width: 75%;
    display: flex;
    margin: 1.5rem auto;
    border-radius: 5px;
    box-shadow: $box-shadow-sm;
    border: 1px solid $border-light-gray;
    padding: 1.5rem;
    // background-color: lighten($border-lightest-gray, 1.5%);

    @media all and (max-width: $breakpoint-sm) {
      max-width: 100%;
      padding: 1rem;
    }

    p {
      display: inline-block;
      font-family: $font-tertiary;
      font-weight: 500;
      line-height: 1.5em;
      padding: 0 0 0.125rem 0.625rem;
      font-size: 1.375rem;
      color: $black;
      transform: translateY(-.5em);

      @media all and (max-width: $breakpoint-sm) {
        font-size: 1.125rem;
        padding-left: 5px;
      }
    }

    i {
      display: inline-block;
      font-size: 1.5rem;
      text-align: center;
      color: lighten($color-primary-med, 12%);
      display: inline-block;

      @media all and (max-width: $breakpoint-sm) {
        font-size: 1rem;
      }
    }

    cite {
      display: block;
      font-size: 1rem;
      letter-spacing: .04em;
      text-align: right;
      padding-right: 1em;
      margin-top: 12px;
      font-style: normal;
      font-weight: 400;
      color: hsl(194,10%,70%);
    }
  }

  .pullquote {
    padding: 1rem 2rem;
    border: 3px solid $border-light-gray;
    border-radius: 5px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;

    &.alignright {
      max-width: 320px;
      float: right;
      margin: 10px 0px 2rem 2rem;
    }

    i {
      margin-top: 10px;
      border-radius: 50%;
      font-size: 28px;
      font-weight: 200;
      color: $color-primary;
      border: 2px solid $border-light-gray;
      padding: 7.5px;
      border-radius: 50%;
    }

    p {
      font-size: 16px;
      line-height: 1.8em;
      font-family: Lato, sans-serif;
      font-style: italic;
      font-weight: 300;
      margin: 10px 0px;
      color: rgb(103, 119, 126);
    }
  }
}
// This SCSS is in the Global Stylesheet because it has to exist prior
// to the component that needs it, the About view, running its scripts
.rotate-header {
  padding-top: 15px;
  position: relative;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.5em;
  font-family: $font-secondary;
  text-transform: none;
  color: $color-primary;
  font-weight: 300;
  margin-bottom: 0;
  text-align: center;

  .rotate-words {
    font-size: inherit;
    min-height: 22px;
    line-height: 34px;
    display: inline-block;
    min-width: 290px;
    text-align: left;

    span {
      font-size: inherit;
      line-height: 1.4;
      display: inline-block;
      position: absolute;
      opacity: 0;
      font-family: $font-secondary;
      font-weight: 300;

      &:first-of-type {
        opacity: 1;
      }

      &.rotate-in {
        font-size:inherit;
        line-height: 1.4;
        animation: rotateInWord 0.5s linear forwards;
        -webkit-animation: rotateInWord 0.5s linear forwards;
        font-weight: 800;
        font-family: $font-secondary;
      }

      &.rotate-out {
        font-size: inherit;
        animation: rotateOutWord 0.5s linear forwards;
        -webkit-animation: rotateOutWord 0.5s linear forwards;
        position: absolute;
        opacity: 0;
        font-weight: 800;
        font-family: $font-secondary;
        line-height: inherit;
      }
    }

    @-webkit-keyframes rotateInWord {
      0% {
        opacity: 0;
        -webkit-transform: translateY(-39px);
      }
      100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
      }
    }
    @-webkit-keyframes rotateOutWord {
      0% {
        opacity: 1;
        -webkit-transform: translateY(0px);
      }
      100% {
        opacity: 0;
        -webkit-transform: translateY(39px);
      }
    }
    @keyframes rotateInWord {
      0% {
        opacity: 0;
        transform: translateY(-39px);
      }
      100% {
        opacity: 1;
        transform: translateY(0px);
      }
    }
    @keyframes rotateOutWord {
      0% {
        opacity: 1;
        transform: translateY(0px);
      }
      100% {
        opacity: 0;
        transform: translateY(39px);
      }
    }
  }
}
.list-style-none {
  list-style: none;
  list-style-type: none;
}
.text-center {
  text-align: center;
}
.nocase {
  text-transform: none;
}
.uppercase {
  text-transform: uppercase;
}
.font-weight-300 {
  font-weight: 300 !important;
}
.font-weight-400 {
  font-weight: 400 !important;
}
.font-weight-500 {
  font-weight: 500 !important;
}
.font-weight-600 {
  font-weight: 600 !important;
}
.font-weight-700 {
  font-weight: 700 !important;
}
.font-weight-900 {
  font-weight: 900 !important;
}
.italic {
  font-style: italic;
}
.font-primary {
  font-family: $font-primary !important;
}
.font-secondary {
  font-family: $font-secondary !important;
}
.font-tertiary {
  font-family: $font-tertiary !important;
}
.inline-block {
  display: inline-block !important;
}
.block {
  display: block !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mt-15 {
  margin-top: 15px !important;
}
.snippet {
  overflow-x: scroll;
  max-width: 100%;

  pre.prettyprint {
    border-radius: 4px !important;
    min-width: 500px;
    margin: 1.5rem auto !important;
  }
}
code {
  background-color: lighten($yellow, 15%);
  color: #000;
  padding: 0px 4px;
  border-radius: 4px;
  font-weight: 500;
  font-family: 'Fira Code', Menlo, Monaco, monospace;
}
